title: Zoi Goebel's Blog
description: Hello! You found my blog that will document my cyber security projects and what I learn while taking the SANS Cyber Academy classes! (And, maybe some stuff about my life!)
collections:
  authors:
    output: true
defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"

